@import 'variables';

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex2 {
    display: flex;
    justify-content: center;
}

body
{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: $t-d-none;
}

li {
    list-style-type: $l-s-t-none;
}

ul {
    @include flex;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img
{
  margin-left: 30px;
}

a
{
  color: black;
}
#a {
    font-size: 10px;
}

.ticket {
    height: $h-4;
    width: 140px;
    background-color: $bg-6;
    @include flex;
    color: $c-7;
}

.ticket img{
  width: 20px;
}

.Home
{
  color: $bg-6;
}
.b1
{
  font-size: 12px;
}

.overlap {
    height: 165px;
    width: 1280px;
    background-color: #2a1f3c;
    position: absolute;
    opacity: 0.8;
}

.titleimg {
    width: $w-0;
    height: 20%;

}

.text {
    @include flex;
    text-align: $t-a-c;
    line-height: 1px;
    position: absolute;
    width: $w-0;
    height: 100px;
    color: $c-7;
}

.mainimg img {
    height: $h-1;
}

.p1 {
  margin-top: 100px;
  font-size: 24px;
}

#right {
    font-size: 8px;
}

.p2 {
    font-size: 10px;
}

.image-text {
    @include flex2;
}

.image-text {
    margin-top: 35px;
}

.line {
    margin-top: 50px;
    margin-left: 275px;
    margin-right: 275px;
    margin-bottom: 45px;
    opacity: 0.5;
}


.image-text img {
    height: 210px;
    padding: 2px;
    outline: 1px solid gray;
}

.text2 {
    margin-left: 20px;
}

h1 {
    margin: 0px;
}

h6 {
    margin: 0px;
    margin-left: 20px;
}

.p3 {
    font-size: 10px;
}

.p4 {
    font-size: 10px;
}

.p5 {
    color: $c-6;
    font-size: 10px;
}

.p6 {
    margin: 0px;
    font-size: 12px;
    font-weight: 500;
}

.logos {
    display: inline-flex;
    margin-top: 8px;
}

.twitter {
    font-size: 10px;
    border: 1px solid black;
    padding: 5px;
    margin-right: 10px;
}

.link {
    font-size: 10px;
    border: 1px solid black;
    padding: 6px;
    margin-right: 10px;
}

.fb {
    font-size: 10px;
    border: 1px solid black;
    padding: 6px;
    margin-right: 10px;
}

.skype {
    font-size: 10px;
    border: 1px solid black;
    padding: 6px;
    margin-right: 10px;
}

.pintrest {
    font-size: 10px;
    border: 1px solid black;
    padding: 6px;
    margin-right: 10px;
}


.text-3 {
    @include flex2;
}

.f1 {
    margin-right: 25px;
}

.h1 {
    margin: 0;
    font-size: 14px;
    
}

.p7 {
    margin: 0px;
    font-size: 10px;
}



.h2 {
    font-size: 14px;
    margin: 0;
}

.p8 {
    margin: 0px;
    font-size: 10px;
}