@media (min-width:320px){
  .nav-items{
    display: none;
  }
  .contact{
    display: none;
  }
  
  }
  @media (min-width:576px){
    
  }
  @media (min-width:768px){
  .menu-co .contact .menu-icon
  {
    display: block;
  }
    
  }
  @media (min-width:992px){
  .menubar{
    display: none;
  }
  .nav-items{
    display: block;
  }
  .menu-icon
  {
    display: none;
  }
    
  }
  @media (min-width:1200px){
   
  
  }
  @media (min-width:1400px){
  
  
  }