$left1:10px;
$left2:20px;
$left3:30px;
$left4:40px;
$left5:50px;
$left6:60px;
$left7:70px;
$left8:80px;
$left9:90px;
$left10:100px;
$left11:200px;
$left12: 500px;
$left13:520px;
$left14:470px;
$left15:400px;
$left16:5px;


$right1:10px;
$right2:20px;
$right3:30px;
$right4:40px;
$right5:50px;
$right6:60px;
$right7:70px;
$right8:80px;
$right9:90px;
$right10:100px;

$top1:10px;
$top2:20px;
$top3:30px;
$top4:40px;
$top5:50px;
$top6:60px;
$top7:70px;
$top8:80px;
$top9:90px;
$top10:100px;

$bottom1:10px;
$bottom2:20px;
$bottom3:30px;
$bottom4:40px;
$bottom5:50px;
$bottom6:60px;
$bottom7:70px;
$bottom8:80px;
$bottom9:90px;
$bottom10:100px;



$padding:20px;