@import 'variables';

@mixin maind
{
  margin-top: $top3;
}

@mixin sizes
{
  height: $h2;
  width: $w3;
  margin-left: $left2;
}

@mixin onlyflex
{
  display: $d-flex;
}

@mixin p
{
  margin-left: $left11;
}

@mixin bg
{
  width: $w-11;
  margin-top: $top3;
}

@mixin container
{
  position:$position;
}

@mixin text
{
  
  position: $position-ab;
  color: $bg-color1;
  top: $top-5;
  left: $left-11;

}

@mixin text1
{

  position: $position-ab;
  color: $bg-color1;
  top: $top-10;
  left: $left-12;

}

@mixin img2
{
  height: $h-2;
  width: $w-12;
  margin-top:$top-10;
  margin-left: $left-14;
}

@mixin p8
{
  margin-left: $left15;
  font-size: $f-4;
  color: $font-color2;
  font-family: $font-family;
}

@mixin p9
{
  margin-left: $left1;
  font-size: $f-4;
  font-family: $font-family;
}

@mixin b1
{
  margin-left: $left12;
  margin-top: $top-1;
  background-color: $font-color2;
  color: $bg-color1;
  border: $border-none;
  padding: $padding;
  width: $w-2;
  font-size: $f-2;
}

@mixin img3
{
  height: $h-2;
  width: $w-11;
  margin-top: $top-8;
}

@mixin overlap
{
  position: $position-ab;
  width: $w-11;
  margin-top: $top3;
  color: $bg-color3;
}

@mixin ticket
{
  background-color: $font-color2;
  height: $h;
  width: $w-3;
  margin-left: $left10;
}

.maind
{
  @include maind;
}

.maindiv
{
  @include sizes;
  @include onlyflex;
}

.mainp
{
  @include onlyflex;
  @include p;
}

.maindiv2 img
{
  @include bg;
}


.container {
  @include container;
}

.text {
@include text;	 
}

.text1
{
  @include text1;
}

.img2 img
{
  @include img2;
}

.d1
{
  @include onlyflex;
}

.p8
{
  @include p8;
}

.p9
{
  @include p9;
}

.b1
{
  @include b1;
}

.img3 img
{
  @include img3;
}

.overlap
{
  @include overlap;
}

.ticket
{
  @include ticket;
}