body
{
    margin: 0;
}

.d1
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.i1
{
    height: 150px;
    width: 200px;
    animation-name: cloud1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes cloud1
{
    0%
    {
        transform: translate(0px);
    }
    100%
    {
        transform: translate(2000px);
    }
}

.i2
{
    height: 150px;
    width: 200px;
    animation-name: cloud2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes cloud2
{
    0%
    {
        transform: translate(900px);
    }
    100%
    {
        transform: translate(-1000px);
    }
}

.i5
{
    height: 150px;
    width: 200px;
    animation-name: cloud3;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes cloud3
{
    0%
    {
        transform: translate(0px);
    }
    100%
    {
        transform: translate(2000px);
    }
}

.sun
{
    height: 150px;
    width: 150px;
    margin-left: 500px;
    background-color: yellow;
    border-radius: 50%;
    animation-name: sun;
    animation-duration: 10s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    position: absolute;
    z-index: -25;

}

@keyframes sun
{
    0%
    {
        transform: translateY(500px);
    }
    50%
    {
        transform: translateY(-500px);
    }
    100%
    {
        transform: translateY(500px);
    }
}

.i4
{
    height: 700px;
    width: 100%;

}