body
{
    margin: 0;
}

.d1
{
    margin-top: 50px;
    margin-left: 50px;
    background-color: purple;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    animation-name: circle;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

@keyframes circle
{
    0%
    {
        transform: translate(0px);
    }
    50%
    {
        transform: translate(400px);
        border: 10px solid rgb(252, 129, 252);
    }
    100%
    {
        transform: translate(800px);
    }

}