body
{
    background-color: white;
}

.maindiv1
{
    height: 700px;
    width: 100%;

}

.d1
{
 
    padding: 20px 500px;
    height: 40px;
    width: 100%;
    background-color: purple;
    color: white;
    font-size: 30px;

}

.maindiv2
{   
    margin: 20px;
    height: 600px;
    width: 600px;
    display: flex;
}

.d2
{
    padding: 10px;
    margin-right: 20px;
    height: 600px;
    width: 400px;
    margin-top: 10px;
    background-color: aqua;
}

.d3
{
    padding: 10px;
    margin-right: 20px;
    height: 600px;
    width: 400px;
    margin-top: 10px;
    background-color: aqua;
}

.d4
{
    padding: 10px;
    margin-right: 20px;
    height: 600px;
    width: 400px;
    margin-top: 10px;
    background-color: aqua;
}

.d5
{
    padding: 10px;
    margin-right: 20px;
    height: 600px;
    width: 400px;
    margin-top: 10px;
    background-color: aqua;
}

.d6
{
    padding: 10px;
    margin-right: 20px;
    height: 600px;
    width: 400px;
    margin-top: 10px;
    background-color: aqua;
}

.d7
{
    padding: 10px;
    margin-right: 20px;
    height: 600px;
    width: 400px;
    margin-top: 10px;
    background-color: aqua;
}

.d8
{
    padding: 10px;
    margin-right: 20px;
    height: 600px;
    width: 400px;
    margin-top: 10px;
    background-color: aqua;
}

.d9
{
    padding: 10px;
    margin-right: 20px;
    height: 600px;
    width: 400px;
    margin-top: 10px;
    background-color: aqua;
}

.d10
{
    padding: 10px;
    margin-right: 20px;
    height: 600px;
    width: 400px;
    margin-top: 10px;
    background-color: aqua;
}

.d11
{
    padding: 10px;
    margin-right: 20px;
    height: 600px;
    width: 400px;
    margin-top: 10px;
    background-color: aqua;
}

p
{
    margin-left: 10px;
}

h3
{
    margin-top: 20px;
    margin-left: 10px;
    padding-top: 10px;
    font-size: 20px;
}