.pagination 
{
    display: flex;
    justify-content: center;
}

.pagination div 
{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    color: rgb(3, 3, 63);
}

.pagination div span 
{
    font-size: 20px;
}

.pagination div:hover 
{
    background-color: black;
    color: white;
}