body
{
    margin: 0;
}

.maindiv
{
    background-color: orange;
    height: 600px;
    width: 100%;
    display: flex;
}

.d1
{
    background-image: url("img/img2.jpg");
    height: 500px;
    width: 350px;
    margin-top: 50px;
    margin-left: 70px;
    border-radius: 10px;
}

.p1
{
    margin-top: 70px;
    margin-left: 30px;
    color: white;
}

.d1:hover
{
    transition: 1s;
    transform: scale(0.9);
    

}

.p1:hover
{
    transition: 1s;
    transform: translateY(40px);
}

.d2
{
    background-image: url("img/img3.jpg");
    height: 500px;
    width: 350px;
    margin-top: 50px;
    margin-left: 30px;
    border-radius: 10px;
}

.p2
{
    margin-top: 70px;
    margin-left: 30px;
    color: white;
}

.d2:hover
{
    transition: 1s;
    transform: scale(0.9);
   

}

.p2:hover
{
    transition: 1s;
    transform: translateY(40px);
}

.d3
{
    background-image: url("img/img1.jpg");
    height: 500px;
    width: 350px;
    margin-top: 50px;
    margin-left: 30px;
    border-radius: 10px;
}

.p3
{
    margin-top: 70px;
    margin-left: 30px;
    color: white;
}

.d3:hover
{
    transition: 1s;
    transform: scale(0.9);
  

}

.p3:hover
{
    transition: 1s;
    transform: translateY(40px);
   
}
