@import 'variables';

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex2 {
    display: flex;
    justify-content: center;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: $t-d-none;
}

li {
    list-style-type: $l-s-t-none;
}

ul {
    @include flex;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    margin-left: 30px;
}

a {
    color: black;
}

#a {
    font-size: 10px;
}

.ticket {
    height: $h-4;
    width: 140px;
    background-color: $bg-6;
    @include flex;
    color: $c-7;
}

.ticket img {
    width: 20px;
}

.Home {
    color: $bg-6;
}

.b1 {
    font-size: 12px;
}

.overlap {
    height: 165px;
    width: 1280px;
    background-color: #2a1f3c;
    position: absolute;
    opacity: 0.8;

}

.title-img {
    width: $w-0;
    height: 20%;

}

.text {
    @include flex;
    text-align: $t-a-c;
    line-height: 1px;
    position: absolute;
    width: $w-0;
    height: $h-1;
    color: $c-7;
}


.p1 {
    font-size: 24px;
    margin-top: 100px;
}

#right {
    font-size: 8px;
}

.p2 {
    font-size: 10px;
}

.main1 {
    @include flex;
}

.line-1 {
    @include flex;
    margin-top: 50px;
}

.p3 {
    margin: 0px;
    font-size: 30px;
}

.p4 {
    margin: 0px;
    margin-left: 5px;
    color: orange;
    font-style: italic;
    font-size: 30px;
}


.p5 {
    @include flex;
    margin-top: 8px;
    font-size: 12px;
}


.name {
    height: 20px;
    width: 250px;
    margin-right: 10px;
    font-size: 8px;
    padding-left: 10px;
}

.email {
    height: 20px;
    width: 235px;
    font-size: 8px;
    padding-left: 10px;
}


.phone {
    height: 20px;
    width: 513px;
    margin-top: 10px;
    font-size: 8px;
    padding-left: 10px;
}

textarea {
    height: 120px;
    width: 513px;
    margin-top: 10px;
    font-size: 8px;
    padding-left: 10px;

}


.button {
    @include flex;
}

button {
    height: 30px;
    width: $w-1;
    font-size: $fs-6;
    background-color: $bg-6;
    color: $c-7;
    border: none;
    margin-top: 20px;
}

.textbox
{
    padding: 10px;
}