body
{
    margin: 0;
}

.d1
{
    margin-top: 60px;
    margin-left: 100px;
    background-color: blueviolet;
    height: 400px;
    width: 800px;

}

.d1:hover
{
    transition: 1s;
    transform: scale(1.1);
}
