body
{
    margin: 10px;
}

.maindiv1
{
    height: 150px;
    width: 550px;
    background-color: white;
    display: flex;
    flex-basis: auto;

} 

.box-1
{
    
    height: 150px;
    width: 300px;
    border: 2px solid blue;
    font-size: 50px;
    
        
}

.box-2
{
    
    height: 150px;
    width: 300px;
    border: 2px solid blue;
    font-size: 50px;
   
    
}

.box-3
{
   
    height: 150px;
    width: 300px;
    border: 2px solid blue;
    font-size: 50px;
   
}

.maindiv2
{
    height: 150px;
    max-width: 800px;
    margin-top: 40px;
    background-color: gray;
    display: flex;
    flex-basis: 15em;
    

}

.box-4
{
   
    height: 150px;
    width: 250px;
    border: 2px solid blue;
    font-size: 50px;
    background-color: white;
   
}

.box-5
{
   
    height: 150px;
    width: 250px;
    border: 2px solid blue;
    font-size: 50px;
    background-color: white;
   
}

.box-6
{
   
    height: 150px;
    width: 250px;
    border: 2px solid blue;
    font-size: 50px;
    background-color: white;
   
}

.maindiv3
{
    height: 150px;
    max-width: 800px;
    margin-top: 40px;
    background-color: gray;
    display: flex;
    flex-basis: 0;


}

.box-7
{
   
    height: 150px;
    width: 150px;
    border: 2px solid blue;
    font-size: 50px;
    background-color: white;
   
}

.box-8
{
   
    height: 150px;
    width: 150px;
    border: 2px solid blue;
    font-size: 50px;
    background-color: white;
   
}

.box-9
{
   
    height: 150px;
    width: 150px;
    border: 2px solid blue;
    font-size: 50px;
    background-color: white;
   
}