@import 'variables';

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

body
{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: $t-d-none;
}

li {
    list-style-type: $l-s-t-none;
}

ul {
    @include flex;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img
{
  margin-left: 30px;
}

a
{
  color: black;
}
#a {
    font-size: 10px;
}

.ticket {
    height: $h-4;
    width: 140px;
    background-color: $bg-6;
    @include flex;
    color: $c-7;
}

.ticket img{
  width: 20px;
}

.Home
{
  color: $bg-6;
}
.b1
{
  font-size: 12px;
}

.overlap {
    height: 165px;
    width: 1280px;
    background-color: #2a1f3c;
    position: absolute;
    opacity: 0.8;
}

.titleimg {
    width: $w-0;
    height: 20%;

}

.text {
    @include flex;
    text-align: $t-a-c;
    line-height: 1px;
    position: absolute;
    width: $w-0;
    height: 100px;
    color: $c-7;
}

.mainimg img {
    height: $h-1;
}

.p1 {
  margin-top: 100px;
  font-size: 24px;
}

#right {
    font-size: 8px;
}

.p2 {
    font-size: 10px;
}

.main2 {
    margin-top: 50px;
    text-align: center;
}

.mainp {
    @include flex;
}

.p3 {
    color: $c-6;
    font-size: 20px;
}

.p4 {
    font-style: italic;
    font-size: 20px;

}

button {
    height: 30px;
    width: $w-1;
    font-size: $fs-6;
    background-color: $bg-6;
    color: $c-7;
    border: none;
}

.overlap-2 {
    
    height: $h-0;
    width: $w-0;
    background-color: #2a1f3c;
    position: absolute;
    opacity: 0.8;

}

.footer {
    overflow: hidden;
    position: relative;
    height: 50px;
    width: $w-0;
    margin-top: 50px;

}

.fimg img {
    width: $w-0;
    

}