@import 'variables';

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex2 {
    display: flex;
    justify-content: center;
}

body {
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}

a {
    text-decoration: $t-d-none;
}

li {
    list-style-type: $l-s-t-none;
}

ul {
    @include flex;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    margin-left: 30px;
}

a {
    color: black;
}

#a {
    font-size: 10px;
}

.ticket {
    height: $h-4;
    width: 140px;
    background-color: $bg-6;
    @include flex;
    color: $c-7;
}

.ticket img {
    width: 20px;
}

.Home {
    color: $bg-6;
}

.b-1 {
    font-size: 12px;
}

.overlap {
    height: 165px;
    width: 1262px;
    background-color: #2a1f3c;
    position: absolute;
    opacity: 0.8;

}

.title-img {
    width: $w-0;
    height: 20%;

}

.text {
    @include flex;
    text-align: $t-a-c;
    line-height: 1px;
    position: absolute;
    width: $w-0;
    height: $h-1;
    color: $c-7;
}


.p1 {
    font-size: 24px;
    margin-top: 100px;
}

#angle {
    font-size: 8px;
}

.p2 {
    font-size: 10px;
}


.imgtext {
    @include flex2;
}

.imgtext {
    margin-top: 35px;
}


.anchorimg {
    @include flex;
}

.i1 {
    height: 150px;
    padding: 2px;
    border-radius: 100%;
}


.text1 {
    margin-left: 20px;
}

.pstart {
    font-size: 22px;
    display: flex;
}

.p3 {
    margin: 0px;
}

.p4 {
    margin: 0px;
    margin-left: 5px;
    color: orange;

}

.line {
    height: 2px;
    width: 30px;
    background-color: $bg-6;
}

.p5 {
    font-size: 10px;
}

.p6 {
    font-size: 10px;
    color: gray;
}

.p7 {
    margin: 0px;
    font-size: 12px;
    font-weight: 500;
}

.b1 {
    height: 30px;
    width: $w-1;
    font-size: $fs-6;
    background-color: $bg-6;
    color: $c-7;
    border: none;
}

.b2 {
    margin-left: 10px;
    height: 30px;
    width: $w-1;
    font-size: $fs-6;
    background-color: $bg-7;
    border: 1px solid black;
}



.footer {
    overflow: hidden;
    position: relative;
    height: 135px;
    width: $w-0;
    margin-top: 50px;
}

.overlap-2 {
    height: 100%;
    width: $w-0;
    background-color: #2a1f3ca9;
    position: absolute;
    opacity: 0.8;
}

.overlaptext {
    height: $h-0;
    width: $w-0;
    position: absolute;
    @include flex;
    margin-top: 35px;
}

.p7 {
    color: $c-7;
    margin-right: 8px;
    font-size: 20px;
}

.p8 {
    color: $c-6;
    font-size: 20px;
}

.footerimg img {
    width: $w-0;
    object-position: bottom;
    height: 1000px;
}